body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#button-container {
    margin: 20px;
}

#sub-button-container {
    margin: 20px;
    display: none;
}

#graph-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

button.active {
    background-color: #3498db;
    color: white;
}

#algorithmText, #pointLayoutText {
    margin-top: 20px;
    font-size: 14px;
}
svg {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
}

